@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&family=Solway:wght@800&display=swap");

body {
   padding: 0;
   margin: 0;
   font-family: "Inter", sans-serif;
   background: no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin: 50px;
}

#search {
   box-sizing: border-box;
}

#search-input,
button {
   padding: 6px 12px;
   font-size: 18px;
   background-color: white;
   border: none;
   border-radius: 6px;
   border: 1px solid rgb(42, 41, 41);
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

button {
   padding: 5px 12px;
   cursor: pointer;
}

button:hover,
button:focus {
   background-color: rgb(241, 241, 241);
}

button:active {
   background-color: white;
}

#crypto-section {
   display: flex;
   flex-direction: column;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 80px;
}

footer {
   position: absolute;
   bottom: 20px;
   left: 30px;
}

p {
   margin: 0;
}

h1,
h3 {
   color: aliceblue;
   margin: 0;
   text-shadow: 2px 0 rgb(16, 11, 11), -2px 0 rgb(16, 11, 11),
      0 2px rgb(16, 11, 11), 0 -2px rgb(16, 11, 11), 1px 1px rgb(16, 11, 11),
      -1px -1px rgb(16, 11, 11), 1px -1px rgb(16, 11, 11),
      -1px 1px rgb(16, 11, 11);
   text-align: center;
}

h1 {
   font-size: 60px;
   margin-bottom: 2px;
}

h3 {
   font-size: 22px;
}

#author {
   background-color: white;
   border-radius: 6px;
   padding: 6px 12px;
   border: 1px solid rgb(42, 41, 41);
   color: black;
}

#crypto-section {
   background-color: white;
   padding: 30px 25px;
   border: 1px solid rgb(42, 41, 41);
   border-radius: 6px;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

img {
   width: 30px;
   margin-right: 5px;
}

#crypto-top {
   display: flex;
   align-items: center;
}

span {
   font-weight: bold;
   font-size: 20px;
}

p {
   font-size: 18px;
   margin-bottom: 3px;
}

.btc {
   color: rgb(190, 162, 0);
}

.eth {
   color: rgb(29, 130, 247);
}

.ltc {
   color: rgb(41, 156, 3);
}

#weather-section {
   background-color: white;
   padding: 30px 25px;
   border: 1px solid rgb(42, 41, 41);
   border-radius: 6px;
   text-align: center;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.head {
   text-align: center;
   font-weight: 700;
   font-family: "Solway", serif;
   font-size: 24px;
   text-transform: uppercase;
   display: flex;
   align-items: center;
   justify-content: center;
}

.main-icon {
   width: 50px;
}

.temp {
   font-size: 30px;
   margin: 0 auto auto 12px;
   width: 100%;
}

.extras {
   font-size: 20px;
   margin-bottom: 8px;
}

#weather-section > p {
   display: flex;
   justify-content: flex-start;
}
